.bo-columns-1, .bo-columns-2, .bo-columns-3, .bo-columns-4 {
  column-count: 1;
}

@media (min-width: 768px) {
  .bo-columns-1 {
    column-count: 1;
  }

  .bo-columns-2 {
    column-count: 2;
  }

  .p-columns-3 {
    column-count: 3;
  }

  .bo-columns-4 {
    column-count: 3;
  }
}
