.bo-text > *:last-child {
  margin-bottom: 0!important;
}

.bo-text {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bo-columns,
.bo-columns p {
  column-count: auto;
}

.bo-columns ul {
  column-count: 1;
  column-gap: 4rem;
}


@media (min-width: 768px) {
  .bo-text {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .bo-columns {
    column-gap: 3rem;
  }

  .columns-all-content .bo-columns-1 {
    column-count: auto;
  }

  .columns-all-content .bo-columns-2 {
    column-count: 2;
  }

  .columns-all-content .p-columns-3 {
    column-count: 3;
  }

  .columns-all-content .bo-columns-4 {
    column-count: 4;
  }

  .columns-only-text .bo-columns-1 p,
  .columns-only-text .bo-columns-1 ul {
    column-count: 1;
  }

  .columns-only-text .bo-columns-2 p,
  .columns-only-text .bo-columns-2 ul {
    column-count: 2;
  }

  .columns-only-text .bo-columns-3 p,
  .columns-only-text .bo-columns-3 ul {
    column-count: 3;
  }

  .columns-only-text .bo-columns-4 p,
  .columns-only-text .bo-columns-4 ul {
    column-count: 4;
  }
}
