.ui-dialog-content[id^='drupal-dialog-bohelp--'] {
  padding: 0!important;
}

.bo-fields-help h2,
.bo-fields-help table,
.bo-fields-help tr,
.bo-fields-help td {
  margin: 0;
  background: none!important;
  background-color: transparent;
  border: none;
}

.bo-fields-help h2 {
  padding: 0;
  margin: 0 0 15px;
  font-size: 25px;
}

.bo-fields-help h2 .label {
  padding: 5px 10px;
  background-color: #707070;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.bo-fields-help table {
  width: 100%;
}

.bo-fields-help th,
.bo-fields-help td {
  padding: 5px;
  height: 1rem;
}

.bo-fields-help th {
  background-color: #f6f6f2;
  color: #000;
}

.bo-fields-help tr {
  border-bottom: solid 1px #e6e6e2;
}
.bo-fields-help tr:last-child {
  border-bottom: none;
}

.bo-fields-help td {
  vertical-align: top;
}

.bo-fields-help table {
  border-collapse: collapse;
}

.bo-fields-help th {
  text-transform: uppercase;
  font-weight: bold;
}

.bo-fields-help tr th:nth-child(2),
.bo-fields-help tr td:nth-child(2) {
  width: 60%;
}

.bo-fields-help tr th:nth-child(3),
.bo-fields-help tr td:nth-child(3) {
  overflow: hidden;
}

.colorbox-bo-fields-help #cboxTitle {
  display: none!important;
}

.copy-tooltip {
  background-color: #000;
  margin: 0;
  padding: 0;
}
.copy-tooltip-content {
  background-color: #000;
  color: #fff;
  font-size: .8rem;
  padding: .2rem .5rem;
}
