.node-entity,
.bo-entity {
  position: relative;
}

.bo-overview {
  transition: 0.15s padding ease-out, 0.15s margin ease-out, 0.15s border ease-out;
  min-height: 50px;
}

.bo-overview.active {
  /*outline: 1px dashed #d6d6d6;*/
  border-left: 2px solid #d6d6d6;
  padding-left: .3rem;
  /*padding: .3rem;*/
}

.bo-header {
  padding-bottom: .5rem;
  display: block;
}

.bo-operations-overlap {
  position: absolute;
  z-index: 1;
  padding-bottom: 0;
}

.bo-operations-position-top {
  top: 0;
}

.bo-operations-position-bottom {
  bottom: 0;
}

.bo-header.collapse {
  display: none;
}

.show-hide {
  display: none;
}

.bo-operations > a.active {
  /*border-top: 2px solid rgba(0,0,0,.2);*/
  box-shadow: 0 2px 0 rgba(0,0,0,.2) inset;
}

/*
.bo-operations li > span:before,
.bo-operations > a:before {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
  display: inline-block;
  content: "";
}
*/

.bo-operations .bo-operation-edit:before {
  /*background-image: url('../img/gear.png');*/
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f303";
  font-weight: 900;
}

.bo-operations .bo-operation-delete:before {
  /*background-image: url('../img/gear.png');*/
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f2ed";
  font-weight: 900;
}

.bo-operations .bo-operation-translate:before {
  /*background-image: url('../img/gear.png');*/
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f0ac";
  font-weight: 900;
}

.bo-operations .bo-operation-gear:before {
  /*background-image: url('../img/gear.png');*/
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f013";
  font-weight: 900;
}

.bo-operations .bo-operation-reorder:before {
  /*background-image: url('../img/updown.png');*/
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f0dc";
  font-weight: 900;
}



.bo-operations .bo-operation-add:before,
.bo-operations .bo-operation-insert:before {
  /*background-image: url('../img/plus.png');*/
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  content: "\f067";
  font-weight: 900;
}

.bo-operation-help {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  height: 18px;
  width: 18px;
  background-image: url('../img/twig.png');
  background-size: 18px;
}

.bo-operations {
  display: inline-block;
  margin: .5rem!important;
  padding: 0!important;
}

.node-entity-operations,
.bo-entity-operations {
  display: none;
  position: absolute;
  z-index: 1001;
  right: 0;
}

.bo-insert-operations {
  display: none;
  position: absolute;
  bottom: -1.85rem;
  left: 0;
  z-index: 1001;
  text-align: center;
  width: 100%;
}

.bo-operations-pane.insert-pane {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 24px;
  /*margin-bottom: .5rem;*/
}



.bo-operations li {
  display: inline-block;
  justify-content: center;
  margin-right: .5rem;
  text-align: center;
}

.bo-operations li:last-child {
  justify-content: center;
  margin-right: 0;
}

.bo-operations li .no-link,
.bo-operations li a {
  display: flex!important;
  align-items: center!important;
  padding: 0 0.5rem 0 .5rem!important;
  border: 2px solid;
  background-color: rgba(255,255,255, .8)!important;
  border-radius: 20px;
  color: #909090;
  outline: 0;
  text-decoration: none;
  font-weight: normal;
  height: 2.3rem;
  font-size: 1rem;
}

.bo-operations li .no-link {
  border: 2px solid transparent!important;
  background-color: rgba(230,230,230, .8)!important;
  /*min-width: 100px;*/
  justify-content: center;
}

.bo-operations li .no-link:before,
.bo-operations li a:before {
  height: auto!important;
  width: auto!important;
  content: "";
}

.bo-operations li .no-link:before {
  height: 12px!important;
}

.bo-operations li a:hover {
  color: #2494db;
}

.bo-operations li .no-link span,
.bo-operations li a span {
  margin-left: .5rem;
  font-weight: normal;
}
.bo-operations li .no-icon span {
  margin-left: 0;
}

.bo-operations li .no-link span {
  padding-left: .5rem;
  padding-right: .5rem;
}

.bo-operations li .ajax-progress {
  display: none;
}


.bo-wrapper-selected {
  outline: 1px dashed #d6d6d6;
  outline-offset: 1px;
}

.bo-add-multi {
  margin: 0!important;
  padding: 0!important;
  width: 100%;
}

.bo-add-multi .title-add,
.bo-add-multi .title-insert {
  display: none;
}

.bo-table-reorder {
  width: 100%;
  margin: 0!important;
}

.bo-add-multi-content h2,
.bo-table-reorder th {
  text-transform: uppercase!important;
  font-size: 14px!important;
  color: #555!important;
  font-weight: bold!important;
  padding: 4px 9px;
  padding-left: 0;
}

.bo-add-multi-content h2 {
  margin: 0;
}

.bo-table-reorder a.tabledrag-handle {
  float: left;
  overflow: hidden;
  height: 1.7em;
  margin-left: 0;
  cursor: move;
}

.bo-table-reorder a.tabledrag-handle:hover {
  text-decoration: none;
}

.bo-table-reorder a.tabledrag-handle:after {
  margin-left: 0;
}

.bo-table-reorder a.tabledrag-handle .handle {
  padding: 14px;
  width: 14px;
  height: 14px;
  margin: 0!important;
}

.bo-reorder-form .tabledrag-cell {
  padding-left: 0!important;
}

.bo-reorder-form .tabledrag-toggle-weight {
  display: none;
}

.bo-add-multi,
.bo-reorder-form-wrapper {
  /*background-color: rgba(220,220,220,.60)!important;*/
}

.bo-reorder-form-wrapper,
.bo-add-multi-content {
  padding: 0!important;
  margin: 0!important;
}

.tabledrag-toggle-weight-wrapper,
.tabledrag-toggle-weight {
  display: none;
}

.bo-reorder-form tr,
.bo-reorder-form th,
.bo-reorder-form td {
  color: #555;
  background: transparent !important;
  border: none!important;
  border-top: none!important;
  border-bottom: none!important;
  border-left: none!important;
  border-right: none!important;
  padding: 0 10px 0 0!important;
  height: 30px!important;
  line-height: 30px!important;
}

.bo-reorder-form .form-actions {
  margin: 0;
  padding: 10px 0 0;
}

.bo-reorder-form .form-actions .button {
  height: 40px;
}

/*Used to fill the gap for a dragged element*/
.reorder-placeholder {
  border: 1px dotted black;
  border-radius: 4px;
  margin: 0 15px 20px 15px;
  padding: 0;
  height: 50px;
}


ul.bo-add-multi-content {
  list-style: none;
  display: grid;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.bo-add-multi-content li {
  /*flex-wrap: wrap;*/
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  /*margin-right: -4px;*/
}

ul.bo-add-multi-content li:hover {
  border: 2px solid rgba(0,0,0,.2);
}

ul.bo-add-multi-content li a {
  display: block;
  padding: 10px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  border-bottom: none;
  font-weight: normal;
}

ul.bo-add-multi-content li a:before {
  display: block;
  color: #555;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
  /*
    ul.bo-add-multi-content li {

        width: 24%;
    }
    */
}

@media only screen and (max-width: 400px) {
  /*
    ul.bo-add-multi-content li {
        width: 100%;
        margin: 0;
    }
   */
}




.bo-add-multi-item-link span {
  display: block;
  color: #555;
  margin-bottom: .5rem;
  font-weight: 900;
}

.bo-insert-operations li.collection-label,
.bo-header-operations li.collection-label,
.node-area-operations li.collection-label {
  background-color: transparent!important;
  color: #707070;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
.bo-entity-operations li a,
.bo-insert-operations li a,
.bo-header-operations li a {
  text-transform: uppercase;
  font-size: 12px;
}
*/

.ajax-progress-fullscreen {
  padding: 20px!important;
}

.bo-reorder-form h3,
.bo-add-multi h3 {
  display: none;
}

.bo-reorder-form .form-actions div {
  display: inline-block;
  text-align: left!important;
}

.bo-reorder-form .messages {
  margin: 0 0 10px!important;
}

.bo-add-multi .group-title {
  text-transform: uppercase;
  font-weight: bold;
}

.bo-operations-pane {
  position: absolute;
  z-index: 10;
  background-color: rgba(220,220,220,.60)!important;
  padding: 10px!important;
  display: none;
  border-radius: 10px;
  max-width: 400px;
}


.bo-operations-pane .bo-table-reorder-wrapper {
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px!important;
}

.bo-table-reorder-wrapper .tabledrag-changed-warning {
  margin-left: 10px;
  margin-top: 5px;
}

.bo-operations-pane .bo-add-multi {
  padding: 0;
}
