{% if items or empty -%}

{%- if items -%}
<ul class="node-entity-operations-block bo-operations">
  {% if label != '' %}
  <li><div class="no-link"><span class="label">{{ label }}</span></div></li>
  {% endif %}
  {%- for item in items -%}
  <li>{{ item }}</li>
  {%- endfor -%}
</ul>
{%- else -%}
{{- empty -}}
{%- endif -%}

{%- endif %}
