{{ help }}


<div class="well well-lg">
    <h4><u>Get started:</u></h4>
    <ul>
        <li>Create a custom template <code>views-view-field-bo--{{ bo.bundle }}.html.twig</code> in your &lt;theme&gt;/templates folder.</li>
        <li>The twig variable <code>&lcub;&lcub;&nbsp;help&nbsp;&rcub;&rcub;</code> gives you an overview of usefull twig variables for theming.</li>
    </ul>
</div>

{{ collection }}



