{{ help }}

<section id="collection_{{ bo.id }}" class="parallax-window" data-parallax="scroll" data-image-src="{{ bo.field_image.raw.optimized_url }}">
    {{ collection }}
</section>

{# attach_library('bo/bo_parallax') #}
